.page {
    width: 1200px;
    background-color: lightslategray;
    margin: auto;
    padding: 30px;
    padding-top: 30px;
}

body {
    background-color: maroon;
}

.visualisation-size {
    width: 95%;
}